/* CONTEÚDOS GENÉRICOS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 550;
}

:root {
    /* Cores baseadas no documento de identidade visual do Senai. */
    --vermelho: #e30613;
    --branco: #ffff;
    --preto: #000000;
    --cinza: #878787;

    --sombra-padrao: rgba(0, 0, 0, 0.16) 0px 1px 6px;

    /* Tamanho dos Botões de ícones no header */

    --header-icon-size: 36px;
}

button {
    transition: all .3s ease;
}

button:hover {
    scale: 1.02;
}

button:active {
    scale: 0.98;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

header {
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}

.header-red-container {
    position: relative;
    background-color: var(--vermelho);
    z-index: 10;
    width: 100vw;
    display: flex;
    height: 35px;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;
}

.header-red-container>a {
    text-decoration: none;
    font-weight: 550;
    color: var(--branco);
}

.header-red-container>button,
.header-white-container>button {
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    font-size: var(--header-icon-size);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.hamburger-menu {
    display: flex;
    color: var(--branco);
    display: none;
    align-items: center;
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    font-size: var(--header-icon-size);
    text-align: center;
}

.header-white-container {
    position: relative;
    background-color: var(--branco);
    box-shadow: var(--sombra-padrao);
    padding: .5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;

}

.return-button {
    position: absolute;
    display: none;
    left: calc(1% - 5px);
}


.senai-logo {
    height: var(--header-icon-size);
}

main {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

/* Inserindo a imagem de fundo*/
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../backgrounds/senai-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.2;
    z-index: -1;
}

/* Animação do texto "Senai ID */
.senai-id {
    position: relative;
    display: inline-block;
    color: var(--vermelho);
    text-decoration: none;
}

.senai-id::after,
.update-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--vermelho);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.senai-id:hover::after,
.update-link:hover::after {
    transform: scaleX(1);
}

.update-link:hover {
    color: var(--vermelho);
}

.inf-header {
    display: flex;
    position: relative;
    left: 100px;
    gap: 100px;
}

.update-link {
    color: var(--cinza);
    text-decoration: none;
    position: relative;
}


.notifications-header {
    position: relative;
    top: -8px;
    left: -100px;
    background-color: var(--vermelho);
    height: 12px;
    width: 12px;
    border-radius: 100px;
}

.profile-img {
    border-radius: 100px;
    border: 2px solid var(--vermelho);
    height: 35px;
    width: 35px;
}

.profile-div {
    display: flex;
    align-items: center;
    gap: 50px;
}

.mobile-menu {
    display: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {

    nav {
        height: 0px;
    }

    /* Ocultar links padrão no header e mostrar o botão do menu hamburger */
    .inf-header,
    .profile-div {
        display: none;
        /* Oculta os links de navegação padrão */
    }

    .hamburger-menu {
        display: flex;
    }

    /* Estilo do menu suspenso para dispositivos móveis */
    .mobile-menu {
        transform: translateY(-900px);
        transition: transform 1s ease;
        position: sticky;
        display: flex;
        flex-direction: column;
        color: var(--branco);
        top: 80px;
        left: 0;
        width: 100vw;
        box-shadow: var(--sombra-padrao);
        z-index: 4;
        background-color: var(--branco);

    }

    .mobile-menu a {
        padding: 15px;
        border-bottom: 1px solid var(--cinza);
        text-align: center;
        color: var(--preto);
    }

    .mobile-menu a:hover {
        background-color: var(--vermelho);
        color: var(--branco);
    }

    /* Mostrar o menu quando ativo */
    .mobile-menu.active {
        transform: translateY(0px);
        background-color: var(--branco);
    }

}

/* Página de login (update.html) */

.register-preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95vw;
    scale: 0.8;
    gap: 100px;
}


.registrar-aluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 450px;
    margin: 40 auto;
    border-radius: 10px;
    height: 700px;
    border: 1px solid var(--preto);
    background-color: var(--branco);
    padding: 25px 10px;
}

.registrar-aluno form {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.registrar-aluno h2 {
    color: var(--vermelho);
    font-size: 2.3rem;
    margin-bottom: 30px;
}

.registrar-aluno span {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.registrar-aluno span button {
    width: 30%;
    aspect-ratio: 1 /1;
    border: 2px solid var(--vermelho);
    background-color: transparent;
    transition: all .3s ease;
    position: relative;
}

.registrar-aluno span button i {
    font-size: clamp(2rem, 2vw + 1rem, 4rem);
    color: var(--vermelho);
}

.registrar-aluno span button input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.carteirinha-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    border: 1px solid var(--preto);
    background-color: var(--branco);
    padding: 25px 10px;
}

.carteirinha-preview .top-inf {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 20px;
    width: 95%;
}

.carteirinha-preview .top-inf .senai-logo {
    height: 30px;
}

.carteirinha-preview .top-inf .pfp {
    height: 140px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    box-shadow: var(--sombra-padrao);
    border: 1px solid black;
}

.carteirinha-preview .top-inf h3 {
    font-size: 1.8em;
    text-align: center;
}

.bottom-inf {
    width: 75%;
    display: flex;
    justify-content: space-between;

}

.bottom-inf .info-collumn {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.bottom-inf .info-collumn h5 {
    font-size: 1em;
}

.bottom-inf .info-collumn h4 {
    font-size: 1.4em;
}

.carteirinha-preview .curso {
    margin-top: 5rem;
    font-size: 1.7em;
    text-align: center;
}

.icon-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    height: 3rem;
    border: 2px solid var(--vermelho);
}

.icon-input input {
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
    border: none;
    z-index: 2;
    outline: none;
    font-size: 1.2rem;
}



.icon-input:focus-within .floating-label,
.icon-input input:valid~.floating-label {
    background-color: var(--branco);
    color: var(--vermelho);
    transform: translateY(-25px);
}

#data_nascimento::-webkit-calendar-picker-indicator {
    display: none;
}

#data_nascimento {
    opacity: 0;
}

#data_nascimento:focus,
#data_nascimento:valid {
    opacity: 1;
}


.icon-input i {
    font-size: 1.5rem;
}

.floating-label {
    transition: all .3s ease;
    position: absolute;
    font-size: 1.2rem;
    z-index: 1;
    left: 10px;
    top: 10px;
}